

{% load static %}
<div class="col-sm px-5" style="max-width: 25rem;">
	<h2 class = "text-center">{{app.app_name}}</h2>
	<a href="{{app.url}}">
		<img src="{% get_static_prefix %}images/{{ app.icon}}" class="img-fluid" alt="Responsive image">

	<!--<div class="card border-primary mb-3" style="max-width: 20rem;">
	  <div class="card-header">{{app.app_name}}</div>
	  <div class="card-body">
	    <h4 class="card-title">Primary card title</h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  </div>
	</div>-->
	</a>
</div>
