{% extends "header.html" %}

{% block content %}
{% csrf_token %}

<div class="container-fluid pt-3">
	<div class="row justify-content-start">
			<h2>Vowel Chart
		<span>
			<button type="button" id="startFormantAnalysis" class="btn btn-primary" data-toggle="modal" data-target="#modal_a">Get My VowelChart</button>
		</span>
		</h2>
</div>
</div>
<p id='stat_text'></p>
<p id='formant_text'></p>

<div class="container-fluid">
	<div class="row justify-content-start">
		<div class="col">
			<canvas id="myChart" width="1000" height="600"></canvas>
		</div>
		<div class="col">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Word</th>
			      <th scope="col">F1</th>
			      <th scope="col">F2</th>
			    </tr>
			  </thead>
			  <tbody id = "formant-table-body">
			  </tbody>
			</table>
		</div>
	</div>
</div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.sound.js"></script>
{% load staticfiles %}

{% if english_vowel_list %} 
<script>
	var vowels_recording_blobs = []

</script>
	{% for vowel in english_vowel_list %}
		{% include 'modals/vowelchart/record_audio.html' %}
	{% endfor%}
{%endif%}

<script type="text/javascript">
	var scatterChart;
	$(document).ready(function(){
		var endpoint = /get-formants/
		var formants = '{{formants}}'

		$.ajax({
			method:'GET',
			url: endpoint,
				success: function(data){
					var ctx = document.getElementById("myChart");
					var data = {labels: data.labels,
								datasets: [{label: 'Vowel Chart',data: data.data}]
								};

		Chart.pluginService.register({
			beforeRender: function (chart) {
				if (chart.config.options.showAllTooltips) {
					// create an array of tooltips
					// we can't use the chart tooltip because there is only one tooltip per chart
					chart.pluginTooltips = [];
					chart.config.data.datasets.forEach(function (dataset, i) {
						chart.getDatasetMeta(i).data.forEach(function (sector, j) {
							chart.pluginTooltips.push(new Chart.Tooltip({
								_chart: chart.chart,
								_chartInstance: chart,
								_data: chart.data,
								_options: chart.options.tooltips,
								_active: [sector]
							}, chart));
						});
					});
					
					// turn off normal tooltips
					chart.options.tooltips.enabled = false;
				}
			},
			afterDraw: function (chart, easing) {
				if (chart.config.options.showAllTooltips) {
					// we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
					if (!chart.allTooltipsOnce) {
						if (easing !== 1)
							return;
						chart.allTooltipsOnce = true;
					}
					// turn on tooltips
					chart.options.tooltips.enabled = true;
					Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
						tooltip.initialize();
						tooltip.update();
						// we don't actually need this since we are not animating tooltips
						tooltip.pivot();
						tooltip.transition(easing).draw();
					});
					chart.options.tooltips.enabled = false;
				}
			}
		});
					scatterChart = new Chart(ctx, {
										type: 'scatter',
									    data: data,
									    options: {
									    	showAllTooltips: true,
									    	responsive: false,
									        scales: {
									            xAxes: [{
									                type: 'linear',
									                position: 'top',
									                ticks:{
									                	beginAtZero: true,
									                	reverse: true,
									                	suggestedMin: 0,
									                	suggestedMax: 2500
									                }
									            }],
									            yAxes:[{
									                type: 'linear',
									                position: 'right',
									                ticks:{
									                	beginAtZero: true,
									                	reverse: true,
									                	suggestedMin: 0,
									                	suggestedMax: 1000
									                }
									                
									            }]
									        },
									        layout:{
									        	padding:{
									        		left:30,
									        		bottom: 50
									        	}
									        },
									        tooltips:{
									        	displayColors: false,
										     	callbacks:{
										     		label: function(tooltipItem, data) {
										            var label = data.labels[tooltipItem.index];
													//return label + ', F1 - ' + tooltipItem.yLabel + '    F2 - ' + tooltipItem.xLabel + ')';
													return label
     														}
     													}

    												},
										}
						});
				},
				error: function(error){
					console.log("error")
					console.log(error)
				}
			})

	});
/*
hover tooltip
     tooltips:{
     	callbacks:{
     		label: function(tooltipItem, data) {
            var label = data.labels[tooltipItem.index];
			return label + ', F1 - ' + tooltipItem.yLabel + '    F2 - ' + tooltipItem.xLabel + ')';
     	}
     }

    },e;
*/

</script>
<script src = "{% static 'js/vowelchart.js' %}"></script>

{% endblock %}



