{% extends "header.html" %}

{% block content %}

<p>Vowel Chart</p>
<p id = 'formants'>{{formants}}</p>
<p id = 'x_y'>{{x_y}}</p>

<canvas id="myChart" width="1200" height="600"></canvas>

<script type="text/javascript">
	$(document).ready(function(){
		var endpoint = /get-formants/
		var formants = '{{formants}}'



		$.ajax({
			method:'GET',
			url: endpoint,
				success: function(data){
					var ctx = document.getElementById("myChart");
					var data = {labels: data.labels,
								datasets: [{label: 'Vowel Chart',data: data.data}]
								};

		Chart.pluginService.register({
			beforeRender: function (chart) {
				if (chart.config.options.showAllTooltips) {
					// create an array of tooltips
					// we can't use the chart tooltip because there is only one tooltip per chart
					chart.pluginTooltips = [];
					chart.config.data.datasets.forEach(function (dataset, i) {
						chart.getDatasetMeta(i).data.forEach(function (sector, j) {
							console.log(sector)
							chart.pluginTooltips.push(new Chart.Tooltip({
								_chart: chart.chart,
								_chartInstance: chart,
								_data: chart.data,
								_options: chart.options.tooltips,
								_active: [sector]
							}, chart));
						});
					});
					
					// turn off normal tooltips
					chart.options.tooltips.enabled = false;
				}
			},
			afterDraw: function (chart, easing) {
				if (chart.config.options.showAllTooltips) {
					// we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
					if (!chart.allTooltipsOnce) {
						if (easing !== 1)
							return;
						chart.allTooltipsOnce = true;
					}
					// turn on tooltips
					chart.options.tooltips.enabled = true;
					Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
						tooltip.initialize();
						tooltip.update();
						// we don't actually need this since we are not animating tooltips
						tooltip.pivot();
						tooltip.transition(easing).draw();
					});
					chart.options.tooltips.enabled = false;
				}
			}
		});
					console.log(data)
					var scatterChart = new Chart(ctx, {
										type: 'scatter',
									    data: data,
									    options: {
									    	showAllTooltips: true,
									    	responsive: false,
									        scales: {
									            xAxes: [{
									                type: 'linear',
									                position: 'top',
									                ticks:{
									                	beginAtZero: true,
									                	reverse: true
									                }
									            }],
									            yAxes:[{
									                type: 'linear',
									                position: 'right',
									                ticks:{
									                	beginAtZero: true,
									                	reverse: true
									                }
									                
									            }]
									        },
									        layout:{
									        	padding:{
									        		left:300,
									        		bottom: 50
									        	}
									        },
									        tooltips:{
									        	displayColors: false,
										     	callbacks:{
										     		label: function(tooltipItem, data) {
										            var label = data.labels[tooltipItem.index];
													//return label + ', F1 - ' + tooltipItem.yLabel + '    F2 - ' + tooltipItem.xLabel + ')';
													return label
     														}
     													}

    												},
										}
						});
				},
				error: function(error){
					console.log("error")
					console.log(error)
				}
			})

	});
/*
hover tooltip
     tooltips:{
     	callbacks:{
     		label: function(tooltipItem, data) {
            var label = data.labels[tooltipItem.index];
			return label + ', F1 - ' + tooltipItem.yLabel + '    F2 - ' + tooltipItem.xLabel + ')';
     	}
     }

    },
*/


</script>

{% endblock %}



