

<div class="modal fade" id='modal_{{vowel.vowel}}' role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Record Vowel [{{vowel.vowel}}]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{vowel.vowel}}</p>

      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" onclick="startRecord()">Record</button>
      	<button type="button" class="btn btn-primary" onclick="stopRecord()">Stop</button>
      	<button type="button" class="btn btn-primary" onclick="playRecord()">Play</button>

        <button type="button" class="btn btn-primary" id = "modal-action-{{vowel.next}}" data-toggle="modal" data-target="#modal_{{vowel.next}}" data-dismiss="modal">{{vowel.action}}</button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function(){
		$("#modal-action-{{vowel.next}}").on('click', function(event){
				var soundBlob = soundFile.getBlob();
				var this_vowel = "{{vowel.vowel}}"
    			var fd = new FormData();
    			fd.append('audio', soundBlob);
    			fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    			fd.append('vowel', this_vowel);
				event.preventDefault();
				stat_text.textContent = "Analyzing Formants";
				$.ajax({
					url: '/formant-analysis/',
					method: 'POST',
					data: fd,
        			contentType: false,
        			processData: false,
					success: function(data){
						console.log(data);
						vowels_formants_list['data'].push({'y':data.data.formants[0],'x':data.data.formants[1]});
						vowels_formants_list['labels'].push(data.data.vowel);
						if("{{vowel.next}}"=='to-formants'){
							var formants_data = JSON.stringify(vowels_formants_list)
							stat_text.textContent = "Done Analyzing!";
							removeData(scatterChart);
    						scatterChart.data.labels = vowels_formants_list['labels'];
    						scatterChart.data.datasets[0].data = vowels_formants_list['data'];
    						scatterChart.update();
    						for(i = 0; i<vowels_formants_list['labels'].length; i++){
    							vowel = vowels_formants_list['labels'][i];
    							f1 = vowels_formants_list['data'][i].y;
    							f2 = vowels_formants_list['data'][i].x;
    							$("#formant-table-body").append("<tr> <td>"+vowel+"</td><td>"+f1+"</td><td>"+f2+"</td></tr>")
								}
							}

					},
					error: function(errorData){
						console.log("error");
						console.log(errorData);
					}
				})
			})
		})
</script>